[Unit]
Description=VisionGrabber Button Launcher
After=VisionGrabberWeb.service dev-ttyButton.device
Requires=VisionGrabberWeb.service dev-ttyButton.device
BindsTo=dev-ttyButton.device

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/
ExecStart=/home/pi/VisionGrabber/Host/grabber-venv/bin/python -u /home/pi/VisionGrabber/Host/launch.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
