[submodule "Button/PTTButton"]
	path = Button/Firmware
	url = https://github.com/eddnshoulders/PTTButton.git
[submodule "SKR_Mini_E3_Firmware/BIGTREETECH-SKR-mini-E3"]
	path = SKR_Mini_E3_Firmware/BIGTREETECH-SKR-mini-E3
	url = https://github.com/bigtreetech/BIGTREETECH-SKR-mini-E3.git
